body {
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
  text-align: center;
}

nav {
  padding: 15px;
  background: #020617;
}

nav a {
  margin: 10px;
  color: cyan;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  margin-top: 40px;
}

.profile {
  width: 150px;
  border-radius: 50%;
  margin: 20px;
  transition: 0.3s;
}

.profile:hover {
  transform: scale(1.1);
}

section {
  margin: 40px;
}

ul {
  list-style: none;
}

.card {
  background: #1e293b;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fade-in {
  animation: fade 2s;
}

@keyframes fade {
  from {opacity:0;}
  to {opacity:1;}
}